.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}

.neonText {
  animation: flicker 1.5s infinite alternate;
  color: rgb(127, 143, 175);
  font-size: 25vw;
}

@media only screen and (min-width: 400px) {
  .neonText {
    animation: flicker 1.5s infinite alternate;
    color: rgb(127, 143, 175);
    font-size: 5vw;
  }
}

@keyframes flicker {

  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {

    text-shadow:
      0 0 4px rgb(142, 101, 101),
      0 0 11px rgb(142, 101, 101),
      0 0 19px rgb(142, 101, 101),
      0 0 40px red,
      0 0 80px red,
      0 0 90px red,
      0 0 100px red,
      0 0 150px red;

  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}